# Convert Strings Into Datetimes
1. Use the <b> strptime() </b> method from the <b> datetime</b> class to convert a string representation of the date/time into a date object.
2. Parse a string to year, month, day and then use the <b> datetime() </b> method to create a datetime

## Date and Time Data Types and Tools

In [42]:
from datetime import datetime
now = datetime.now()
print(now)
print(now.year, now.month, now.day, now.hour, now.minute, now.second)

2022-04-05 07:11:25.104376
2022 4 5 7 11 25

In [43]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
print(delta)
print(delta.days)
print(delta.seconds)

926 days, 15:45:00
926
56700

In [44]:
from datetime import timedelta
start = datetime(2011, 1, 7)
print(start)
# default timedelta is days
print(start + timedelta(12))
# set days= explicitly
print(start + timedelta(days=12))
print(start - 2 * timedelta(12))

2011-01-07 00:00:00
2011-01-19 00:00:00
2011-01-19 00:00:00
2010-12-14 00:00:00

# Convert a String to a Datetime

### - strip.strftime() to convert a string to datetime
### - datetime.strptime() to convert a datetime to a string

* Time format
https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

* Common format:
     - %Y-%m-%d  2022-01-31
     - %m/%d/%Y  01/31/2022
     - %b-%d-%Y  Jan-31-2022 
     - %B-%d-%Y  January-31-2022
     - %m/%d/%y  01/31/22
     - %j-%Y     031-22   Julian day of the year
     - %U-%Y     05-22   Week number of the year with Sunday as the first day of the week
     - %W-%Y     05-22   Week number of the year with Monday as the first day of the week
     - %A, %Y-%m-%d Monday, 2022-01-31 
     - %a, %Y-%m-%d Mon, 2022-01-31
     
### - dateutil.parser.parse() to parse any datetime string to a datetime

## Method 1 - Convert a string to datetime with strptime() 
### Need to specify datetime format

     - %Y-%m-%d  2022-01-31
     - %m/%d/%Y  01/31/2022
     - %b-%d-%Y  Jan-31-2022 
     - %B-%d-%Y  January-31-2022
     - %m/%d/%y  01/31/22
     - %j-%Y     031-22   Julian day of the year
     - %U-%Y     05-22   Week number of the year with Sunday as the first day of the week
     - %W-%Y     05-22   Week number of the year with Monday as the first day of the week
     - %A, %Y-%m-%d Monday, 2022-01-31 
     - %a, %Y-%m-%d Mon, 2022-01-31

## 1.1 convert a Date string to Datetime

In [45]:
from datetime import datetime
str = '2022-01-03'
print(str)
print(type(str))
datetime_object = datetime.strptime(str, '%Y-%m-%d')
date_object = datetime_object.date()
print(datetime_object)
print(type(datetime_object))
print(date_object)
print(type(date_object))

2022-01-03
<class 'str'>
2022-01-03 00:00:00
<class 'datetime.datetime'>
2022-01-03
<class 'datetime.date'>

## 1.2 convert a Datetime string to Datetime

In [46]:
# Parse a Datetime
str = '2022-01-03 12:30:00'
datetime_object = datetime.strptime(str, '%Y-%m-%d %H:%M:%S')
print(datetime_object)
print(type(datetime_object))

2022-01-03 12:30:00
<class 'datetime.datetime'>

In [47]:
#Parse a string to a datetime to a string using strptime()
value = '2011-01-03'
dt = datetime.strptime(value, '%Y-%m-%d')
print(dt)

value = '2018-06-29 17:08:00'
dt = datetime.strptime(value, '%Y-%m-%d %H:%M:%S')
print(dt)

datestrs = ['7/6/2011', '8/6/2011']
dt_list = [datetime.strptime(x, '%m/%d/%Y') for x in datestrs]
print(dt_list)

2011-01-03 00:00:00
2018-06-29 17:08:00
[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

## Method 2 - dateutil.parser.parse() 
### Parse any datetime string to a datetime without specifying format

In [48]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [49]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [50]:
# by default month is before day
parse('6/12/2011')

datetime.datetime(2011, 6, 12, 0, 0)

In [51]:
# specify dayfirst
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [52]:
string_array = [
    '2018-06-29 08:15:27.243860',
    'Jun 28 2018 7:40AM',
    'Jun 28 2018 at 7:40AM',
    'September 18, 2017, 22:19:55',
    'Sun, 05/12/1999, 12:30PM',
    'Mon, 21 March, 2015',
    '2018-03-12T10:12:45Z',
    '2018-06-29 17:08:00.586525+00:00',
    '2018-06-29 17:08:00.586525+05:00',
    'Tuesday , 6th September, 2017 at 4:30pm'
]
datetime_array = [parse(s) for s in string_array]
print(datetime_array)

[datetime.datetime(2018, 6, 29, 8, 15, 27, 243860), datetime.datetime(2018, 6, 28, 7, 40), datetime.datetime(2018, 6, 28, 7, 40), datetime.datetime(2017, 9, 18, 22, 19, 55), datetime.datetime(1999, 5, 12, 12, 30), datetime.datetime(2015, 3, 21, 0, 0), datetime.datetime(2018, 3, 12, 10, 12, 45, tzinfo=tzutc()), datetime.datetime(2018, 6, 29, 17, 8, 0, 586525, tzinfo=tzutc()), datetime.datetime(2018, 6, 29, 17, 8, 0, 586525, tzinfo=tzoffset(None, 18000)), datetime.datetime(2017, 9, 6, 16, 30)]

## Method 3 -  pandas.to_datetime()
### Parse any datetime string to a datetime

In [53]:
import pandas as pd
string_array = [
    '2018-06-29 08:15:27.243860',
    'Jun 28 2018 7:40AM',
    'Jun 28 2018 at 7:40AM',
    'September 18, 2017, 22:19:55',
    'Sun, 05/12/1999, 12:30PM',
    'Mon, 21 March, 2015',
    '2018-03-12T10:12:45Z',
    '2018-06-29 17:08:00.586525+00:00',
    '2018-06-29 17:08:00.586525+05:00',
    'Tuesday , 6th September, 2017 at 4:30pm'
]
ps_date = pd.to_datetime(string_array)
# result is an array like datetimeIndex
print("type:", type(ps_date))
print("ps_date=", ps_date)
print("Convert to a list:", list(ps_date))

type: <class 'pandas.core.indexes.base.Index'>
ps_date= Index([      2018-06-29 08:15:27.243860,              2018-06-28 07:40:00,
                    2018-06-28 07:40:00,              2017-09-18 22:19:55,
                    1999-05-12 12:30:00,              2015-03-21 00:00:00,
              2018-03-12 10:12:45+00:00, 2018-06-29 17:08:00.586525+00:00,
       2018-06-29 17:08:00.586525+05:00,              2017-09-06 16:30:00],
      dtype='object')
Convert to a list: [datetime.datetime(2018, 6, 29, 8, 15, 27, 243860), datetime.datetime(2018, 6, 28, 7, 40), datetime.datetime(2018, 6, 28, 7, 40), datetime.datetime(2017, 9, 18, 22, 19, 55), datetime.datetime(1999, 5, 12, 12, 30), datetime.datetime(2015, 3, 21, 0, 0), datetime.datetime(2018, 3, 12, 10, 12, 45, tzinfo=tzutc()), datetime.datetime(2018, 6, 29, 17, 8, 0, 586525, tzinfo=tzutc()), datetime.datetime(2018, 6, 29, 17, 8, 0, 586525, tzinfo=tzoffset(None, 18000)), datetime.datetime(2017, 9, 6, 16, 30)]

In [54]:
idx = pd.to_datetime(string_array + [None])
idx
idx[2]
pd.isnull(idx)

array([False, False, False, False, False, False, False, False, False,
       False,  True])

## Method 4 - Split a String into Year, Month, Date and then use datetime()

In [55]:
str = '2022-01-03'
year, month, day=str.split('-')
print(year, month,day)
mydate=datetime(int(year), int(month), int(day)).date()
print(mydate)
print(type(mydate))

2022 01 03
2022-01-03
<class 'datetime.date'>

In [56]:
str = '2022-01-03 12:30:10'
sdate, stime=str.split()
year, month, day=sdate.split('-')
hour, minute, second=stime.split(':')
print(year, month,day)
mydatetime=datetime(int(year), int(month), int(day), int(hour), int(minute), int(second))
print(mydatetime)
print(type(mydatetime))

2022 01 03
2022-01-03 12:30:10
<class 'datetime.datetime'>

# Convert a Datetime value to a string - strftime()

In [57]:
#Convert a datetime to a string using strftime()
stamp = datetime(2022, 1, 31)
print(stamp)
print(stamp.strftime('%Y-%m-%d'))
print(stamp.strftime('%m/%d/%Y'))
print(stamp.strftime('%b-%d-%Y'))
print(stamp.strftime('%B-%d-%Y'))
print(stamp.strftime('%B-%d-%y'))
print(stamp.strftime('%j-%Y'))
print(stamp.strftime('%U-%Y'))
print(stamp.strftime('%W-%Y'))
print(stamp.strftime('%A, %Y-%m-%d'))
print(stamp.strftime('%a, %Y-%m-%d'))

2022-01-31 00:00:00
2022-01-31
01/31/2022
Jan-31-2022
January-31-2022
January-31-22
031-2022
05-2022
05-2022
Monday, 2022-01-31
Mon, 2022-01-31

## Get datetime attributes from a datetime variable
- Year
- Month Name
- Numeric Month
- Day of month
- Day of Week
- Day of Year
- Quarter
- Hour
- Minute
- Second
- Epoch Time

```
year  -  from 1 to 9999.

month -  from 1 to 12.

day -  number of days for that specific month as calculated by the Gregorian Calendar.

hour -  0 to 23.

minute -  0 to 59.

second -  0 to 59.

microsecond -  0 to 999999.

tzinfo - An instance of a class derived from tzinfo, which provides time zone information.

datetime.weekday() Return the day of the week as an integer, where Monday is 0 and Sunday is 6. The same as self.date().weekday(). See also isoweekday().

datetime.isoweekday() Return the day of the week as an integer, where Monday is 1 and Sunday is 7. The same as self.date().isoweekday(). See also weekday(), isocalendar().

datetime.isocalendar()
Return a named tuple with three components: year, week and weekday. The same as self.date().isocalendar().

datetime.date() Return date object with same year, month and day.

datetime.time() Return time object with same hour, minute, second, microsecond and fold. tzinfo is None. See also method timetz().

datetime.timetz() Return time object with same hour, minute, second, microsecond, fold, and tzinfo attributes. See also method time().

```

In [58]:
from datetime import datetime
dt = datetime(2022, 4, 4, 18, 10, 30)
attributes=['year', 'month', 'day', 'hour', 'minute', 'second', 'microsecond', 'tzinfo']
print(dt)
for attr in attributes:
    print(attr, eval("dt." + attr))

2022-04-04 18:10:30
year 2022
month 4
day 4
hour 18
minute 10
second 30
microsecond 0
tzinfo None

In [59]:
funcs=['date', 'weekday', 'isoweekday', 'isocalendar', 'time', 'timetz']
for fun in funcs:
    print(fun, eval("dt." + fun + "()"))

date 2022-04-04
weekday 0
isoweekday 1
isocalendar datetime.IsoCalendarDate(year=2022, week=14, weekday=1)
time 18:10:30
timetz 18:10:30

In [65]:
# day of year - Julian day
dayofyear = dt.strftime("%j")
dayofyear

'094'

In [61]:
# week number of year - with Sunday as the first day of the week
weekofyear = dt.strftime("%U")
weekofyear

'14'

In [62]:
# week number of year - with Monday as the first day of the week
weekofyear = dt.strftime("%W")
weekofyear

'14'

In [63]:
# quarter of year
import math
quarter = int(math.ceil(dt.month/3.))
quarter

2

In [64]:
# quarter of year - use pandas
import pandas as pd
pd.to_datetime(dt).quarter

2

## Get datetime attributes from a pandas datetime variable

## Time/date components
There are several time/date properties that one can access from Timestamp or a collection of timestamps like a DatetimeIndex.

### Property  Description

- year The year of the datetime

- month The month of the datetime

- day The days of the datetime

- hour The hour of the datetime

- minute The minutes of the datetime

- second The seconds of the datetime

- microsecond The microseconds of the datetime

- nanosecond The nanoseconds of the datetime

- date Returns datetime.date (does not contain timezone information)

- time Returns datetime.time (does not contain timezone information)

- timetz  Returns datetime.time as local time with timezone information

- dayofyear The ordinal day of year

- day_of_year The ordinal day of year

- weekofyear The week ordinal of the year - depreciated
 
- week The week ordinal of the year  - depreciated

- isocalendar() Return a 3-tuple containing ISO year, week number, and weekday.

- isocalendar().year  year

- isocalendar().week  week number

- isocalendar().day  week day number  Monday=1, Sunday=7

- dayofweek The number of the day of the week with Monday=0, Sunday=6

- day_of_week The number of the day of the week with Monday=0, Sunday=6

- weekday The number of the day of the week with Monday=0, Sunday=6

- quarter Quarter of the date: Jan-Mar = 1, Apr-Jun = 2, etc.

- days_in_month The number of days in the month of the datetime

- is_month_start Logical indicating if first day of month (defined by frequency)

- is_month_end  Logical indicating if last day of month (defined by frequency)

- is_quarter_start Logical indicating if first day of quarter (defined by frequency)

- is_quarter_end Logical indicating if last day of quarter (defined by frequency)

- is_year_start Logical indicating if first day of year (defined by frequency)

- is_year_end Logical indicating if last day of year (defined by frequency)

- is_leap_year Logical indicating if the date belongs to a leap year

In [104]:
import datetime
import numpy as np
import pandas as pd
dti = pd.to_datetime(["5/4/2022 12:30:00", np.datetime64("2018-01-01"), datetime.datetime(2022, 8, 30, 11, 20, 10)])
dti

DatetimeIndex(['2022-05-04 12:30:00', '2018-01-01 00:00:00',
               '2022-08-30 11:20:10'],
              dtype='datetime64[ns]', freq=None)

In [105]:
#Convert Datetime INdex to a Pandas Series
dts = dti.to_series()
dts

2022-05-04 12:30:00   2022-05-04 12:30:00
2018-01-01 00:00:00   2018-01-01 00:00:00
2022-08-30 11:20:10   2022-08-30 11:20:10
dtype: datetime64[ns]

In [106]:
# Call pandas Datetime attributes
dts.dt.date

2022-05-04 12:30:00    2022-05-04
2018-01-01 00:00:00    2018-01-01
2022-08-30 11:20:10    2022-08-30
dtype: object

In [107]:
# Another way to create a datetime series  - the dtype is object
ps = pd.Series(["5/4/2022 12:30:00", np.datetime64("2018-01-01"), datetime.datetime(2022, 8, 30, 11, 20, 10)])
ps

0      5/4/2022 12:30:00
1             2018-01-01
2    2022-08-30 11:20:10
dtype: object

In [108]:
# Can not apply dt attributes to an object dtype
ps.dt.year

AttributeError: Can only use .dt accessor with datetimelike values

In [110]:
# Convert an object dtype to datetime dtype
psd = pd.to_datetime(ps)
psd

0   2022-05-04 12:30:00
1   2018-01-01 00:00:00
2   2022-08-30 11:20:10
dtype: datetime64[ns]

In [111]:
dt_attr=["year","month","day","hour","minute","second","microsecond","nanosecond",\
         "date","time","timetz","dayofyear","day_of_year",\
         "weekofyear","week","dayofweek","day_of_week","weekday",\
         "isocalendar()", "isocalendar().year","isocalendar().week","isocalendar().day",\
         "quarter","days_in_month",\
         "is_month_start","is_month_end","is_quarter_start","is_quarter_end",\
         "is_year_start","is_year_end","is_leap_year"]

In [112]:
for attr in dt_attr:
    print(attr+":")
    print(eval("psd.dt." + attr))
    print("-"*20)

year:
0    2022
1    2018
2    2022
dtype: int64
--------------------
month:
0    5
1    1
2    8
dtype: int64
--------------------
day:
0     4
1     1
2    30
dtype: int64
--------------------
hour:
0    12
1     0
2    11
dtype: int64
--------------------
minute:
0    30
1     0
2    20
dtype: int64
--------------------
second:
0     0
1     0
2    10
dtype: int64
--------------------
microsecond:
0    0
1    0
2    0
dtype: int64
--------------------
nanosecond:
0    0
1    0
2    0
dtype: int64
--------------------
date:
0    2022-05-04
1    2018-01-01
2    2022-08-30
dtype: object
--------------------
time:
0    12:30:00
1    00:00:00
2    11:20:10
dtype: object
--------------------
timetz:
0    12:30:00
1    00:00:00
2    11:20:10
dtype: object
--------------------
dayofyear:
0    124
1      1
2    242
dtype: int64
--------------------
day_of_year:
0    124
1      1
2    242
dtype: int64
--------------------
weekofyear:
0    18
1     1
2    35
dtype: int64
--------------------
week:
0    18
1     1
2    35
dtype: int64
--------------------
dayofweek:
0    2
1    0
2    1
dtype: int64
--------------------
day_of_week:
0    2
1    0
2    1
dtype: int64
--------------------
weekday:
0    2
1    0
2    1
dtype: int64
--------------------
isocalendar():
   year  week  day
0  2022    18    3
1  2018     1    1
2  2022    35    2
--------------------
isocalendar().year:
0    2022
1    2018
2    2022
Name: year, dtype: UInt32
--------------------
isocalendar().week:
0    18
1     1
2    35
Name: week, dtype: UInt32
--------------------
isocalendar().day:
0    3
1    1
2    2
Name: day, dtype: UInt32
--------------------
quarter:
0    2
1    1
2    3
dtype: int64
--------------------
days_in_month:
0    31
1    31
2    31
dtype: int64
--------------------
is_month_start:
0    False
1     True
2    False
dtype: bool
--------------------
is_month_end:
0    False
1    False
2    False
dtype: bool
--------------------
is_quarter_start:
0    False
1     True
2    False
dtype: bool
--------------------
is_quarter_end:
0    False
1    False
2    False
dtype: bool
--------------------
is_year_start:
0    False
1     True
2    False
dtype: bool
--------------------
is_year_end:
0    False
1    False
2    False
dtype: bool
--------------------
is_leap_year:
0    False
1    False
2    False
dtype: bool
--------------------

<string>:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
<string>:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.